body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #8f0500;
}

header {
    padding: 20px;
    background-color: #8f0500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; 
    margin-right: 10px;
}

.club-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: #8f0500;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.card img.back {
    display: none;
}

.card.flipped img.back {
    display: block; 
}

.card.flipped img.front {
    display: none;
}

.switch {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch i {
    font-size: 16px;
}

.switch:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.shirt-title {
    font-size: 1.2em;
    margin-top: 10px;
}

.shirt-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #8f0500; 
    margin-top: 5px;
}

.order-button {
    background-color: #8f0500;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; 
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #6c0400;
}

footer {
    background-color: #8f0500;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.responsive-nav {
    display: none;
    background-color: #8f0500;
    flex-direction: column;
    z-index: 1000; 
}

.responsive-nav.active {
    display: flex;
}

.responsive-nav a {
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }
}